.siteHeader {
  border-bottom: 1px solid #eee;
}

.logo {
  font-size: 22px;
}

.nav {
  text-align: right;
  margin-top: 10px;
}

.nav li {
  display: inline;
  line-height: 3;
  margin-left: 25px;
}
.nav li:first-of-type {
  margin-left: 0;
}

.siteContent {
  padding: 25px 0px 0px 0px;
  text-align: center;
}

.siteFooter {
  border-top: 1px solid #eee;
  padding-top: 15px;
}

* {	padding: 0; margin: 0; vertical-align: top; }

body {
	font: 18px/1.5em "proxima-nova", Helvetica, Arial, sans-serif;
}

a {	color: #069; }
a:hover { color: #28b; }

h2 {
	margin-top: 15px;
	font: normal 32px "omnes-pro", Helvetica, Arial, sans-serif;
}

h3 {
	margin-left: 30px;
	font: normal 26px "omnes-pro", Helvetica, Arial, sans-serif;
	color: #666;
}

p {
	margin-top: 10px;
}

button {
	font-size: 18px;
	padding: 1px 7px;
}

input {
	font-size: 18px;
}

input[type=checkbox] {
	margin: 7px;
}

#content {
	width: 880px;
	margin: 0 auto;
	padding: 10px;
}

#dropdown {
  background-color: #4591aa;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  display: inline-block;
  line-height: 32px;
  overflow: visible;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  transition: 150ms;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.sensor-container {
	box-sizing: border-box;
	width: 850px;
	height: 500px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.sensor-plot {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.legend table {
	border-spacing: 5px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
